@import "normalize";
@import "variable";
@import "brandlogo";
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;300;400&display=swap');

a{
    text-decoration: none;
}
ul,li{
    list-style: none;
}
body{
    background-color: rgb(225, 236, 222);
}
.container{
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    position: relative;
}
.line{
    width: 100%;
    height: 1px;
    background-color: red;
    position: absolute;
    top: 105px;
}
.navbarback{
    width: 100%;
    height: 54px;
    background-color: $btn-color;
    position: absolute;
    z-index: -1;
    top: 106px;
}
.header{
    height: 160px;
    border-bottom: 1px solid rgb(255, 0, 0);
    
    .top-header{
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        height: 100px;
        .top-header-logo{
           width: 25%;
           height: auto;
           padding-top: 30px;
           padding-right: 10px;
           a{
               padding: 0 10px;
           
           img{
               width: 100%;
               height: 100%;
               object-fit: cover;
            }
            }
        }
        .top-header-social-menu{
            width: 50%;
            .menu-list{
                display: flex;
                justify-content: center;
                align-items: center;
                a{
                    font-size: 1.4rem;
                    margin-right: 10px;
                    padding: 10px;
                    &:hover{
                        border-radius: 50%;
                        background-color: white;
                        transition: $transition;
                    }
                }
            }
        }
        .top-header-login{
            width: 25%;
            display: flex;
            justify-content: flex-end;
            a{
                font-family: $scnfont;
                font-weight: bold;
                color: white;
                background-color: $btn-color;
                padding: 15px 25px;
                border: 1px solid $btn-color;
                margin-right: 5px;
                border-radius: $border-radius;
                &:hover{
                    color:$btn-color;
                    background-color: white;
                    transition:$transition;
                }
            }
            .rega{
                margin-right: 0;
            }
        }
    }
    .navbar{
        width: 100%;
        height: 60px;   
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .navbar-menu{
            width: 75%;
            display: flex;
            .navbar-menu-list{
                height: 60px;
                display: flex;
                align-items: center;
                margin-left: 30px;
                position: relative;
                top: 2px;
                a{
                    padding: 18px 15px;
                    margin-right: 5px;
                    color: white;
                    font-family: $scnfont;
                    font-weight: 400;
                    &:hover{
                        border-right:1px solid white;
                        transition: $transition;
                    }
                }
            }
        }
        form{
            margin-top: 5px;
            width: 25%;
            input{
                border: none;
                padding: 8px;
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
                color: $btn-color;
                font-weight: 100;
                font-family:$scnfont;
                &::placeholder{
                    color:black;
                    padding-left: 10px;
                }
            }
            button{
                padding: 7px;
                color: white;
                background-color: transparent;
                cursor: pointer;
                margin-left: -4px;
                border: 1px solid white;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
                &:hover{
                    background-color: white;
                    color: $btn-color;
                    transition: $transition;
                }
            } 
        }
    }
}
.story{
    width: 100%;
    height: 80px;
    margin-top: 20px;
    .story-list{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        .story-item{
            img{
                max-width: 60px;
                max-height: 60px;
                height: auto;
                object-fit: cover;
                border-radius: 50%;
                border: 2px dashed $btn-color;
                box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
            }
            h2{
                font-family: $stfont;
                font-size: 0.8rem;
                font-weight: bold;
                color: $btn-color;
            }
        }
    }

}